body{
    background-color: rgb(240, 233, 224);
}
p{
    color: rgb(170, 178, 175);
    font-weight: 900;
    font-size: 30px;
}
img{
    height:auto;
    width:200px;
}

#hello{
    background-color: aqua;
}
.d{
    font-size: 20px;
    background-color: greenyellow;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.margin{
    height: auto;
    width: 250px;
    border: 15px solid blue;
    margin: 10px 60px 30px 40px;
}
.padding{
    height:100px;
    width: 200px;
    border: 10px solid rgb(0, 0, 0);
    margin: 10px 5px 20px 15px;
    padding: 10px 20px 15px 35px ;
}