<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Apps of ml</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h2>
        <table width='500' border='2px' align='left'>
        <tr>
            <ol>Apps url directions:
                <th>Links</th>
            </ol>
        </tr>
        <tr align='center'>
            <td> http://127.0.0.1:8000/ml/machine/ </td>
        </tr>
        <tr>
            <td> http://127.0.0.1:8000/ml/dl/   </td>
        </tr>
        <tr>
            <td> http://127.0.0.1:8000/ml/about/ </td>
        </tr>    
        <tr>
            <td> http://127.0.0.1:8000/ml/dt/ </td>
        </tr>
        <tr>
            <td> http://127.0.0.1:8000/ml/rf/ </td>
        </tr>
        </table>
        </h2>

        <script src="" async defer></script>
    </body>
</html>